<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LogsPath" value="Logs"/>
    <add key="DataSourcesDllsPath" value="DataSources"/>
    <add key="DataFormatsDllsPath" value="DataFormats"/>
    <add key="DataRootPath" value="Data"/>
    <add key="InputDir" value="Input"/>
    <add key="OutputDir" value="Output"/>
    <add key="ProcessedDir" value="Processed"/>
    <add key="ThreadsCount" value="2"/>
    <add key="Separator" value=";"/>
    <add key="OutputEncoding" value="utf-8"/>
  </appSettings>
  <connectionStrings>
    <add name="Default"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='c:\users\max_k\documents\visual studio 2017\Projects\MentolDataImporter\MentolDataImporter\db_default.mdf';Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
